<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container-1">

			<h1 class="display">
				<img src="/assets/img/burger.jpg" alt="burger" width="120px">
				Eat-Da-Burger!
				<img src="/assets/img/burger2.jpg" alt="burger2" width="120px">
			</h1>
		</div>
	</div>
	<div class="container-2">
		<div>
			{{{ body }}}
		</div>
	</div>
	<br>

	<footer class="footer">
		<div class="container">

			<img class = "git-icon" src="/assets/img/GitHub-Mark-64px.png">

			<a>GitHub:</a>
			<a class="link" href="https://github.com/felsuna" target="_blank">Felicia Sunanto</a>
		</div>
	</footer>
</body>

</html>