<form class="create-form">
  <div class="form-group" id="submit">
    <label for="burger-name">Add your own Burger:</label>
    <input type="text" id="new-burger" placeholder="Name it!" name="{{burger_name}}">
      <button type="submit">Submit</button>
  </div>
</form>

<h2>You should eat these...</h2>

{{#each burger}}
{{#unless devoured}}
<p>{{burger_name}} <button class="devour" info="{{id}}">Eat Me!</button></p>
{{/unless}}
{{/each}}

<h2>Devoured...Yummeh!</h2>

{{#each burger}}
{{#if devoured}}
<p>{{burger_name}}</p>
{{/if}}
{{/each}}

<script>
  //Devour button.
  $(".devour").on("click", function () {
    let id = $(this).attr("info");
    $.ajax({
      method: "put",
      url: "api/burgers/" + id
    }).then(data => {
      console.log(data)
      location.reload();
    })
    console.log(id)
  });

  // Submit a new burger button.
  $(".create-form").on("submit", function (event) {
    event.preventDefault();

    let newBurger = {
      burger_name: $("#new-burger").val().trim(),
      devoured: "0"
    };
    console.log(newBurger)

    $.ajax("/api/burgers", {
      type: "post",
      data: newBurger
    }).then(function () {

      location.reload();
    })
  });

</script>